.shopping_cart{
    .table{
        margin-bottom: 0;
    }
    .fa-check-circle{
        display: none;
    }
    .btn-shopping-cart .checkout{
        padding: 10px 20px;
    }
    .dropdown-menu .content-item{
        max-height: 245px;
        overflow: auto;
    }
} 
#header #sosearchpro.so-search .searchbox .select_category select:hover{
    cursor: pointer;
}
header .dropdown-menu{
    font-size: 13px;
}
header .search-mobi,
.megamenu-style-dev .navbar-default .horizontal .navbar-toggle{
    background-color: $background;
}

/*============ HEADER  ==================*/

.header-top .header-top-left .welcome-msg .owl2-carousel .owl2-stage-outer{ direction: ltr; }
.mega-horizontal .navbar-default{border: none;background: transparent;}
@media (max-width: 991px){
    .responsive ul.megamenu > li.click:before,
    .responsive ul.megamenu > li.hover:before {
        #{$right}: 0;
        #{$left}: auto;
    }
    .responsive ul.megamenu > li.active .close-menu{
        #{$right}: 0;
        #{$left}: auto;
    }
}

.header-bottom .content_menu .container{overflow: visible;}
.btn-shopping-cart {
    .dropdown-menu{
        min-width: 350px;        
        .cart_product_name{@include linkGray();}
        .empty{
            padding: 15px;
            margin: 0;
    
        }
    }
    .table>tbody>tr>td{border: none;border-bottom: 1px solid $gray-lighter;vertical-align: middle;}
    .checkout{padding: 0 20px 10px;}
    .added_items{padding: 10px;}
}   

.container-megamenu.horizontal ul.megamenu > li > a:before {
   background: $background;
}

.megamenu-style-dev{position: relative;
     .container{
        overflow: visible;
    }
    .vertical{

        ul.megamenu{width: 100%; background: #222; z-index: 99;
            > li > a{font-size: 11px;}
        } 
        .vertical ul.megamenu > li{margin: 0; border-right: 0; background: #222;
            strong i{display: none;}
                    >a {padding-left: 15px;padding-right: 12px; color: #fff;
                                    &:hover{color: #fff;}
            }
            &.css-menu{
                .sub-menu .content{padding: 0;}
                .hover-menu .menu >ul{padding: 0; margin: 0;
                    li{
                        border-bottom: 1px solid #eee;
                        &:hover{background: #eee;
                            > a{color: $linkColor;}
                        }
                        a{line-height: 37px;
                            b{line-height: 37px; font-size: 16px;margin: 0 10px;}
                        }
                        &:last-child{border: none;}
                    }
                    ul{padding: 0; left: 100%;margin: 0;box-shadow: none;border: 1px solid #eee;min-width: 200px;
                        &:before, &:after{display: none;}
                    }
                } 
            }
            &.item-style3{
                        .sub-menu .content{padding-right: 0;}
            }
            &.with-sub-menu{
                > a:after{content: "\f105";color: #fff;font-family: Fontawesome; font-size: 13px; float: right; margin: 0;}
                
                &:hover > a:after{position: static; border-color: transparent;}
                
            }
            &:hover{background-color: #444;
                >a{color: #fff;}
            }
            &.active > a{background: transparent !important;}
            
            &.style1 .content:after{
            }       
            .sub-menu .content{border-top: 1px solid #ddd;
                .banner{margin-top: -21px; margin-bottom: -22px; margin-right: -1px;}
                .static-menu .menu ul a.main-menu{padding: 0;}
            }
        }
        ul.megamenu .sub-menu .content .static-menu .menu ul {padding-bottom: 0;
            li >a{line-height: inherit; padding-bottom: 0; border-bottom: none; min-height: auto;
                 &:hover{color: $linkColor;}
            }
            ul a{padding: 0;
                 &:hover{color: $linkColor;} 
            }
        }
    }
}

/*=============================================================*/
header .dropdown-menu > li:hover button,
.header-top-right ul.top-link > li > a:hover{
    color: $linkColor;
}

@include breakpoint(xs){
    header .header-center .header-center-right{
        background-color: $background !important;
    }
}