.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.box-content1{background-image:url('../../../../../image/catalog/demo/banner/bg-slider.png');background-repeat:no-repeat; background-position:center center; background-attachment:scroll ;background-size:cover;}

